---
http_interactions:
- request:
    method: post
    uri: https://chat.botpress.cloud/ae10f78a-041d-4fec-af87-a2a3c1097a5b/conversations/get-or-create
    body:
      encoding: UTF-8
      string: '{"id":"123456"}'
    headers:
      Content-Type:
      - application/json
      X-User-Key:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6InVzZXJfMDFLOThYUDE3MEE3SzVUQ1lSMzNZQVRDNEEiLCJpYXQiOjE3NjIzMDk4OTl9.b5qocxiuMP_M8Mxl2iCfR4qn9cF1x3eHWjCZf3rRwrU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 347b480c-8110-46da-8c8a-061b99f911c4
      X-Trace-Id:
      - 3fbd4b9102612f12cb5c1feda5bd1cd9
    body:
      encoding: UTF-8
      string: '{"conversation":{"id":"123456","createdAt":"2025-11-06T04:20:26.642Z","updatedAt":"2025-11-06T04:20:26.642Z"}}'
  recorded_at: Thu, 06 Nov 2025 04:20:25 GMT
recorded_with: VCR 6.2.0
